In [2]:
import seaborn as sns

In [3]:
iris = sns.load_dataset('iris')

In [4]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(iris.iloc[:,:-1], iris.species)

In [7]:
import tensorflow as tf

In [9]:
sl = tf.feature_column.numeric_column('sepal_length')
sw = tf.feature_column.numeric_column('sepal_width')
pl = tf.feature_column.numeric_column('petal_length')
pw = tf.feature_column.numeric_column('petal_width')

In [10]:
features = [sl,sw,pl,pw]

In [11]:
model = tf.estimator.LinearClassifier(features)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/dk/ryvcwwh95v93slf9rm8t27c40000gn/T/tmpt9g_6em3
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/dk/ryvcwwh95v93slf9rm8t27c40000gn/T/tmpt9g_6em3', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}