function
1. programming
    재사용을 위해서 encapsulation
2. math

functional programming

In [1]:
def x():
    x = input()
    print(x[0])
    print(x[:1])
    print(x[:3])

In [2]:
x()

1sad
1
1
1sa

In [9]:
## 함수 이름을 정의 할때는 스네이크 방식으로 정의한다

def sun_moon(a):  ##  함수를 정의할때 넣는 값 파라미터 ex) a
    return 1

In [14]:
sun_moon(1) #callable  ## 정의된 함수에 값을 넣는게 인자 ex) 1

1

파라미터(매개변수), 인자(아규먼트)

In [18]:
## 함수 이름을 정의 할때는 스네이크 방식으로 정의한다

def sun_moon(a,b,c):  ##  함수를 정의할때 넣는 값 파라미터 ex) a
    '''연습'''
    return 1

In [19]:
sun_moon(1,2,3)

1

In [21]:
def sun_moon(a,b):
    return a,b

In [24]:
sun_moon(b=3,a=2)

(2, 3)

In [27]:
sum(2)

TypeError: 'int' object is not iterable

In [28]:
import matplotlib.pyplot as plt

In [ ]:
plt.bar