In [1]:
import seaborn as sns
import pandas as pd

In [2]:
tips = sns.load_dataset('tips')

In [4]:
tips.groupby('sex').mean()

        total_bill       tip      size
sex
Male     20.744076  3.089618  2.630573
Female   18.056897  2.833448  2.459770

In [11]:
tips.groupby('sex').mean().stack()['Male']['tip']

3.0896178343949052

tips.groupby('sex').mean().unstack()

In [25]:
pew = pd.read_csv('C:/Users/kim/ai_study/20200511/data/pew.txt', sep='\t')

In [27]:
pew.set_index('religion').stack().reset_index()

         religion             level_1    0
0        Agnostic               <$10k   27
1        Agnostic             $10-20k   34
2        Agnostic             $20-30k   60
3        Agnostic             $30-40k   81
4        Agnostic             $40-50k   76
..            ...                 ...  ...
175  Unaffiliated             $50-75k  528
176  Unaffiliated            $75-100k  407
177  Unaffiliated           $100-150k  321
178  Unaffiliated               >150k  258
179  Unaffiliated  Don't know/refused  597

[180 rows x 3 columns]

In [29]:
pew.melt('religion')

                  religion            variable  value
0                 Agnostic               <$10k     27
1                  Atheist               <$10k     12
2                 Buddhist               <$10k     27
3                 Catholic               <$10k    418
4       Don’t know/refused               <$10k     15
..                     ...                 ...    ...
175               Orthodox  Don't know/refused     73
176        Other Christian  Don't know/refused     18
177           Other Faiths  Don't know/refused     71
178  Other World Religions  Don't know/refused      8
179           Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]